body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #1abc9c; /* Cor de fundo verde */
}

.container {
    width: 90%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 24px;
    margin: 0;
}

.icon img {
    width: 30px;
}

.list .list-item {
    background: white;
    color: black;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.list-item .date {
    font-weight: bold;
}
