<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Exercício</title>
    <link rel="stylesheet" href="../static/css/exercicio_historico.css">
</head>
<body>
    <div class="main-container">
        <header>
            <h1>Exercício 1</h1>
            <h2>Exercício proposto: Com um pequeno objeto, que pode ser um lápis, colocado apenas 1 cm dentro da boca e leia a frases.</h2>
        </header>
        <div class="info-box">
            <p>Info:</p>
            <ul>
                <li>Avaliação: {{nota}}%</li>
                <li>Sua versão: {{transcricao}}</li>
                <li>Exercicio: {{exercicio}}</li>
            </ul>
        </div>
    </div>
</body>
</html>