<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/historico.css">
    <title>Histórico de Exercícios</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Histórico</h1>
            <div class="icon">
                <img src="../static/images/icone_historico.png" alt="Ícone de relógio"> <!-- Substitua por um caminho válido para o ícone -->
            </div>
        </header>
        <div class="list">
            <a href="/detalhes"></a>
            <div class="list-item">
                <span class="date">08/04/2024</span>
                <span class="exercise">Exercício X</span>
            </div>
            </a>

            <a href="/detalhes">
            <div class="list-item">
                <span class="date">06/04/2024</span>
                <span class="exercise">Exercício Y</span>
            </div>
            </a>

            <a href="/detalhes">
            <div class="list-item">
                <span class="date">03/04/2024</span>
                <span class="exercise">Exercício Z</span>
            </div>
            </a>

            <a href="/detalhes">
            <div class="list-item">
                <span class="date">28/03/2024</span>
                <span class="exercise">Exercício W</span>
            </div>
            </a>
        </div>
    </div>
</body>
</html>