<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="container">
        <div class="icon">
            <img src="../static/images/icone_microfone.png" alt="Icone de Microfone"> <!-- Certifique-se de substituir 'microphone-icon.png' pelo caminho correto do ícone. -->
        </div>
        <div class="menu">
            <a href="/historico" class="menu-item">
                <span>Histórico</span>
                <img src="../static/images/icone_historico.png" alt="Icone de Histórico">
            </a>
            <a href="/treinamento" class="menu-item">
                <span>Treinamento</span>
                <img src="../static/images/icone_treinamento.png" alt="Icone de Treinamento">
            </a>
            <a href="/personalizado" class="menu-item">
                <span>Personalizado</span>
                <img src="../static/images/icone_personalizado.png" alt="Icone Personalizado">
            </a>
        </div>
    </div>
</body>
</html>