<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <div class="login-container">
        <h1 class="title">SmallTalk</h1>
        <form action="#" method="POST">
            <div class="input-container">
                <input type="text" id="username" name="username" placeholder="usuário" required>
            </div>
            <div class="input-container">
                <input type="password" id="password" name="password" placeholder="senha" required>
            </div>
            <button type="submit">GO!</button>
        </form>
    </div>
</body>
</html>