<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treinamento</title>
    <link rel="stylesheet" href="../static/css/personalizado.css">
</head>
<body>
    <div class="container">
        <div class="header">
            
            <img src="../static/images/icone_personalizado.png" alt="ícone de som" class="sound-icon"> <!-- Adapte o caminho ao local do arquivo -->
            <h1>Personalizado</h1>
        </div>
        <div class="exercise-list">
            <button class="exercise-item">Exercício X</button>
            <button class="exercise-item">Exercício Y</button>
            <button class="exercise-item">Exercício Z</button>
        </div>
    </div>
</body>
</html>