<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treinamento</title>
    <link rel="stylesheet" href="../static/css/treinamento.css">
</head>
<body>
    <div class="container">
        <div class="header">
            
            <img src="../static/images/icone_treinamento.png" alt="ícone de som" class="sound-icon"> <!-- Adapte o caminho ao local do arquivo -->
            <h1>Treinamento</h1>
        </div>
        <div class="exercise-list">
            <a href="/exercicio">
                <button class="exercise-item">Exercício 1</button>
            </a>
            <a href="/exercicio">
                <button class="exercise-item">Exercício 2</button>
            </a>
            <a href="/exercicio">
                <button class="exercise-item">Exercício 3</button>
            </a>
        </div>
    </div>
</body>
</html>